[Unit]
Description=Discord Bot for unionrolistes.fr
RequiresMountsFor=/usr/local/bin/bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bot/URbot.py
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target

