[Unit]
Description=Discord Bot for unionrolistes.fr
RequiresMountsFor=/usr/local/src/
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/src/URbot/start.py
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target